<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Welcome to chat</h1>
    <input type="text" class="message" id="message">
    <button onclick="sendMessage()">Send Message</button>
    <div id="chats">
    </div>
    <h2></h2>
    <script>
        const socket = io('http://localhost:3001')
        socket.on('connection')

        socket.on('message',(data)=>{
            var tag = document.createElement("h4");
            var text = document.createTextNode(data);
            tag.appendChild(text);
            document.getElementById('chats').appendChild(tag);
        })

        let sendMessage = () => {
            let message =  document.getElementById('message').value
            socket.emit('message',message)
        }
    </script>
</body>
</html>